html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
header {
  margin: 0;

}
#top {
  background-color: #e7001d;
  text-align: center;
  position: relative
}
.big-chinese {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 0px 2px 2px #000;

}
.chinese-zodiac {
  text-align: center;
  margin: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  top: 65%;
  text-shadow: 0px 2px 1px #000;
}
.medallion {
  width: 100px;
  margin: 20px 0 15px 0;
}
nav {
  width: 100%;
}
ol {
  margin: 0;
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  overflow: hidden;
}
nav li {
  display: inline-block;
  width: calc(100% / 2);
  float: left;
  color: #fff;
  background-color: #222222;
  padding: 10px 15px;
}
.li1 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.li2 {
  border-bottom: 1px solid black;
}
.li3 {
  border-right: 1px solid black;
}
.li4 {
}
.banner {
  width: 100%;
}
main {
  width: 100%;

}
figure {
  width: 100%;
  position: relative;
  margin: 0;
}
.sheng {
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  bottom: 30px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
p {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  margin: 10px 0 20px 0;
  font-style: italic;
}
.dragon {
  text-align: center;
  margin: 30px 0 0 0;
}
.dragons {
  padding: 2% 5%;
  overflow: hidden;
}

.box-1 {
  background-color: #e4c22a;
  overflow: hidden;
}
.dragon-symbol-img {
  float: left;
  width: 45%;
}
.dragon-img {
  float: right;
  width: 45%;
}
.box-2 {
  overflow: hidden;
  background-color: #222222;
}
.goat {
  color: #fff;
  text-align: center;
  margin: 30px 0 0 0;
}
.goats {
  overflow: hidden;
}
.goat-symbol-img {
  float: right;
  width: 45%;
}
.goat-img {
  float: left;
  width: 45%;
}
.p2 {
  color: #fff;
}
.box-3 {
  overflow: hidden;
  background-color: #bc0017;
}
.rooster {
  color: #fff;
  text-align: center;
}
.roosters {
  overflow: hidden;
}
.rooster-symbol-img {
  float: left;
  width: 45%;
}
.rooster-img {
  float: right;
  width: 45%;
}
.p3 {
  color: #fff;
}
.box-4 {
  overflow: hidden;
}
.oxen {
  overflow: hidden;
}
.ox-symbol-img {
  float: right;
  width: 45%;
}
.ox-img {
  float: left;
  width: 45%;
}
