html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
header {
  margin: 0;

}
#top {
  background-color: #e7001d;
  text-align: center;
  position: relative
}
.big-chinese {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  text-shadow: 0px 2px 2px #000;

}
.chinese-zodiac {
  text-align: center;
  margin: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  top: 65%;
  text-shadow: 0px 2px 1px #000;
}
.medallion {
  width: 100px;
  margin: 20px 0 15px 0;
}
nav {
  width: 100%;
}
ol {
  margin: 0;
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
  overflow: hidden;
}
nav li {
  display: inline-block;
  width: calc(100% / 2);
  float: left;
  color: #fff;
  background-color: #222222;
  padding: 10px 15px;
}
.li1 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.li2 {
  border-bottom: 1px solid black;
}
.li3 {
  border-right: 1px solid black;
}
.li4 {
}
.banner {
  width: 100%;
}
main {
  position: relative;
  width: 100%;
}
.sheng {
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  top: 3.9em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
p {
  margin: 13px 10px 10px 10px;
}
.dragon {
  text-align: center;
  margin: 30px 0 0 0;
}
img {
  width: calc(100% / 2);
}
.box-1 {
  position: relative;
}
.dragon-symbol-img {
  position: absolute;
  right: 25%;
}
.dragon-img {
  position: absolute;
  left: 25%;
}
